@model LZMotel.WebApp.MVC.Models.UsuarioRegistro

@{
    if (Model.Endereco == null)
    {
        <a href="javascript:void(0)" data-toggle="modal" data-target="#enderecoModal">Adicionar Endereço</a>
    }
    else
    {
        <a href="javascript:void(0)" data-toggle="tooltip" title="@Model.Endereco.ToString()" data-placement="left"
           class="btn btn-primary float-md-right"> <i class="fa fa-location-arrow"></i> Alterar Endereço</a>
    }
}


